In [17]:
import pandas as pd
import numpy as np
from functools import reduce

In [20]:
spam_col_names = ['id', 'Body', 'Label']

In [21]:
dfSA = pd.read_csv('./kaggle-datasets/Email-Spam-Dataset/completeSpamAssassin.csv', names=spam_col_names)
dfSA

          id                                               Body  Label
0        NaN                                               Body  Label
1        0.0  \nSave up to 70% on Life Insurance.\nWhy Spend...      1
2        1.0  1) Fight The Risk of Cancer!\nhttp://www.adcli...      1
3        2.0  1) Fight The Risk of Cancer!\nhttp://www.adcli...      1
4        3.0  ##############################################...      1
...      ...                                                ...    ...
6042  6041.0                                              empty      0
6043  6042.0                    ___           ___           ...      0
6044  6043.0  IN THIS ISSUE:01. Readers write\n02. Extension...      0
6045  6044.0                                              empty      0
6046  6045.0                                              empty      0

[6047 rows x 3 columns]

In [22]:
dfSA.describe

<bound method NDFrame.describe of           id                                               Body  Label
0        NaN                                               Body  Label
1        0.0  \nSave up to 70% on Life Insurance.\nWhy Spend...      1
2        1.0  1) Fight The Risk of Cancer!\nhttp://www.adcli...      1
3        2.0  1) Fight The Risk of Cancer!\nhttp://www.adcli...      1
4        3.0  ##############################################...      1
...      ...                                                ...    ...
6042  6041.0                                              empty      0
6043  6042.0                    ___           ___           ...      0
6044  6043.0  IN THIS ISSUE:01. Readers write\n02. Extension...      0
6045  6044.0                                              empty      0
6046  6045.0                                              empty      0

[6047 rows x 3 columns]>

In [24]:
dfEnron = pd.read_csv('./kaggle-datasets/Email-Spam-Dataset/enronSpamSubset.csv', names=spam_col_names)
dfEnron.describe

<bound method NDFrame.describe of                  id                                               Body  Label
NaN      Unnamed: 0                                               Body  Label
2469.0         2469  Subject: stock promo mover : cwtd\n * * * urge...      1
5063.0         5063  Subject: are you listed in major search engine...      1
12564.0       12564  Subject: important information thu , 30 jun 20...      1
2796.0         2796  Subject: = ? utf - 8 ? q ? bask your life with...      1
...             ...                                                ...    ...
26222.0       26222  Subject: monday 22 nd oct\n louise ,\n do you ...      0
18630.0       18630  Subject: missing bloomberg deals\n stephanie -...      0
18451.0       18451  Subject: eops salary survey questionnaire\n we...      0
21955.0       21955  Subject: q 3 comparison\n hi louise ,\n i have...      0
32062.0       32062  Subject: confidential folder to safely pass in...      0

[10001 rows x 3 columns]>

In [25]:
dfLing = pd.read_csv('./kaggle-datasets/Email-Spam-Dataset/lingSpam.csv', names=spam_col_names)
dfLing.describe

<bound method NDFrame.describe of           id                                               Body  Label
0        NaN                                               Body  Label
1        0.0  Subject: great part-time or summer job !\n \n ...      1
2        1.0  Subject: auto insurance rates too high ?\n \n ...      1
3        2.0  Subject: do want the best and economical hunti...      1
4        3.0  Subject: email 57 million people for $ 99\n \n...      1
...      ...                                                ...    ...
2601  2600.0  Subject: computationally - intensive methods i...      0
2602  2601.0  Subject: books : a survey of american linguist...      0
2603  2602.0  Subject: wecol ' 98 - - western conference on ...      0
2604  2603.0  Subject: euralex ' 98 - revised programme\n \n...      0
2605  2604.0  ,Body,Label\n 0,"Subject: great part-time or s...      0

[2606 rows x 3 columns]>

In [26]:
dfLing.head()

    id                                               Body  Label
0  NaN                                               Body  Label
1  0.0  Subject: great part-time or summer job !\n \n ...      1
2  1.0  Subject: auto insurance rates too high ?\n \n ...      1
3  2.0  Subject: do want the best and economical hunti...      1
4  3.0  Subject: email 57 million people for $ 99\n \n...      1

In [28]:
dfLing.iloc[0]['Body']

'Body'

In [32]:
#merge datasets
dfs = [dfSA, dfEnron, dfLing]
dfSpam = pd.concat(dfs)

In [33]:
dfSpam.iloc[0]

id         NaN
Body      Body
Label    Label
Name: 0.0, dtype: object

In [34]:
dfSpam.head()

      id                                               Body  Label
0.0  NaN                                               Body  Label
1.0  0.0  \nSave up to 70% on Life Insurance.\nWhy Spend...      1
2.0  1.0  1) Fight The Risk of Cancer!\nhttp://www.adcli...      1
3.0  2.0  1) Fight The Risk of Cancer!\nhttp://www.adcli...      1
4.0  3.0  ##############################################...      1

In [ ]:
#not spam - what bodies?

# Comments